body {
  background: #44b2ca;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 40px;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
header {
  color: rgb(255, 255, 13);
  font-size: 72px;
}
h1 {
  font-weight: bold;
  font-size: 64px;
}
h2 {
  font-weight: bold;
  font-size: 48px;
}
h3 {
  font-weight: 300;
  font-size: 18px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-weight: 300;
  font-size: 12px;
}
ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
.container ul {
  position: absolute;
  text-align: right;
  left: 55%;
  top: 30%;
  font-size: 15px;
}
.tab {
  margin-right: 30px;
}
.fa-sun {
  color: rgb(255, 255, 13);
}
.fa-cloud-rain {
  color: rgb(62, 101, 209);
}
.fa-cloud {
  color: rgb(92, 91, 91);
}
.tab-2 {
  margin-right: 10px;
}
.unit {
  font-size: 16px;
  font-weight: 500;
}
.footer {
  text-align: center;
  font-size: small;
}
